.footer__links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .footer__links {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 32px;
    }
}