.footer__copyright {
    font-size: 14px;
    line-height: calc(16/14);
    text-align: right;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .footer__copyright {
        text-align: left;
        margin-top: 32px;
    }
}