@import url(../../blocks/intro/__list-text/intro__list-text.css);
@import url(../../blocks/intro/__list/intro__list.css);
@import url(../../blocks/intro/__text/intro__text.css);
@import url(../../blocks/intro/__title/intro__title.css);
@import url(../../blocks/intro/__span-accent/intro__span-accent.css);

.intro {
    max-width: 984px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
}

@media screen and (max-width: 1280px) {
    .intro {
        padding-right: 48px;
        padding-left: 48px;
    }
}

@media screen and (max-width: 900px) {
    .intro {
        padding-right: 24px;
        padding-left: 24px;
    }
}

@media screen and (max-width: 680px) {
    .intro {
        padding-right: 16px;
        padding-left: 16px;
    }
}