@import url(../../blocks/cover/__background/cover__background.css);
@import url(../../blocks/cover/__overlay/cover__overlay.css);
@import url(../../blocks/cover/__subtitle/cover__subtitle.css);
@import url(../../blocks/cover/__title/cover__title.css);
@import url(../../blocks/cover/__link/cover__link.css);
@import url(../../blocks/cover/__text/cover__text.css);

.cover {
    max-width: 1184px;
    margin: 0 auto;
    margin-top: 92px;
}
