.place__link {
    font-size: 18px;
    line-height: calc(22/18);
    text-decoration-line: underline;
    color: #ffffff;
    opacity: 1;
    transition: all .4s ease;
    text-align: left;
}

.place__link:hover {
    opacity: 0.8;
}